* {
    font-family: "Comic Sans", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    font-size: x-large;
}

.menu1 {
    display: block;
    height: fit-content;
    height: 20px;
    text-align: right;
}

.menu1 a {
    text-decoration: none;
    background-color: aqua;
    border: 1px;
    border-color: black;
    margin: 5px;

}

.menu1 a:hover {
    background-color: green;
}

.cabecera {
    background-image: url('../assets/design1_image1.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    height: 250px;
    display: block;
}

.eventos {
    display: block;
    height: fit-content;
    background-color: black;
    text-align: center;
    color: white;
    font-size: large;
}

.eventos_h1 {
    display: inline-block;
}

.eventos_logo {
    display: none;
}

main {
    width: 100%;
    height: 400px;
}

.sidebar {
    display: inline-block;
    text-align: center;
}

.sidebar_menu p {
    display: none;
    line-height: 400%;
    font-size: large;
}


.contenido {
    display: inline-block;
    max-width: 75%;
}

.contenido p {
    text-align: justify;
}

.contacto {
    display: inline-block;
}

.sidebar_logo {
    background-image: url('../assets/Logo_Mighty_ducks-01.png');
    display: block;
}

.sidebar_logo_imagen {
    width: 150px;
    height: 150px;
}